# Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlb # data visulaization er jnno
import matplotlib.pyplot as plt
import seaborn as sns #statistical visualization er jnno kaje lage

In [2]:
stock_data=pd.read_csv('Stock_Market_Data.csv')
stock_data.head()

         Date     Name   Open   High    Low  Close      Volume
0  02-01-2022  01.Bank  22.83  23.20  22.59  22.93  1842350.41
1  03-01-2022  01.Bank  23.03  23.29  22.74  22.90  1664989.63
2  04-01-2022  01.Bank  22.85  23.13  22.64  22.84  1354510.97
3  05-01-2022  01.Bank  22.91  23.20  22.70  22.98  1564334.81
4  06-01-2022  01.Bank  23.12  23.65  23.00  23.37  2586344.19

# Loading the dataset with pandas

In [3]:
# Read the CSV file
stock_data = pd.read_csv('Stock_Market_Data.csv')
# 1st 5 rows of dataset
stock_data.head()

         Date     Name   Open   High    Low  Close      Volume
0  02-01-2022  01.Bank  22.83  23.20  22.59  22.93  1842350.41
1  03-01-2022  01.Bank  23.03  23.29  22.74  22.90  1664989.63
2  04-01-2022  01.Bank  22.85  23.13  22.64  22.84  1354510.97
3  05-01-2022  01.Bank  22.91  23.20  22.70  22.98  1564334.81
4  06-01-2022  01.Bank  23.12  23.65  23.00  23.37  2586344.19

# Exploratory Data Analysis (EDA)

In [4]:
print(stock_data.shape)

# Check the data types
stock_data.dtypes

(49158, 7)

Date       object
Name       object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [5]:
# Convert 'Date' column to datetime format
stock_data['Date'] = pd.to_datetime(stock_data['Date'], dayfirst = True)

In [6]:
stock_data.dtypes

Date      datetime64[ns]
Name              object
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

# Part 3: Volatility Analysis:

# Calculate and plot the rolling standard deviation of the 'Close' prices.

In [7]:
# Calculate and plot rolling standard deviation for each of the top 5 companies
plt.figure(figsize=(12, 6))
for name in top_5_companies:
    company_data = stock_data[stock_data['Name'] == name]
    company_data['Rolling_Std'] = company_data['Close'].rolling(window = 30).std()
    plt.plot(company_data['Date'], company_data['Rolling_Std'], label = f'{name}')

plt.title(f'Rolling Standard Deviation (30-day) of Close Prices')
plt.xlabel('Date')
plt.ylabel('Rolling Standard Deviation')
plt.legend()
plt.grid()
plt.xticks(rotation = 45)
plt.show()

NameError: name 'top_5_companies' is not defined

# Create a new column for daily price change (Close - Open)

In [ ]:
stock_data['Daily_Price_Change'] = stock_data['Close'] - stock_data['Open']

# Display the updated DataFrame with the new column
stock_data.head()

# Analyze the distribution of daily price changes.

In [ ]:
# Analyze distribution of daily price changes for top 5 companies
for name in top_5_companies:
    company_data = stock_data[stock_data['Name'] == name]

    plt.figure(figsize=(8, 6))
    plt.hist(company_data['Daily_Price_Change'], bins = 30, edgecolor='black')
    plt.title(f'Distribution of Daily Price Changes for {name}')
    plt.xlabel('Daily Price Change')
    plt.ylabel('Frequency')
    plt.grid(axis = 'y', alpha = 0.5)
    plt.show()

# Identify days with the largest price increases and decreases.

In [ ]:
largest_increase_day = stock_data.loc[stock_data['Daily_Price_Change'].idxmax()]
largest_decrease_day = stock_data.loc[stock_data['Daily_Price_Change'].idxmin()]

print("Days with the Largest Price Increases:")
print(largest_increase_day)

print("\nDays with the Largest Price Decreases:")
print(largest_decrease_day)

# Identify stocks with unusually high trading volume on certain days.

In [ ]:
for name in top_5_companies:
    company_data = stock_data[stock_data['Name'] == name]
    plt.plot(company_data['Date'],company_data['Volume'],label = name)

    threshold = company_data['Volume'].quantile(0.95)
    unusual_high_volume_data = company_data[company_data['Volume'] > threshold]
    plt.scatter(unusual_high_volume_data['Date'], unusual_high_volume_data['Volume'], color="red", marker='o', label="{} - Unusual High Volume Days".format(name))

    plt.title('Trading Volume Over Time with Emphasis on Unusually High Volume Days')
    plt.xlabel('Date')
    plt.ylabel('Trading Volume')
    plt.legend()
    plt.show()

# Part 4: Correlation and Heatmaps

# Explore the relationship between trading volume and volatility.

In [ ]:
for name in top_5_companies:
    company_data = stock_data[stock_data['Name'] == name]

    # Plotting the relationship between trading volume and volatility with regression line
    plt.figure(figsize = (8, 5))
    company_data['Rolling_Std'] = company_data['Close'].rolling(window = 30).std()
    # Remove rows with missing values
    company_data_cleaned = company_data.dropna(subset = ['Volume', 'Rolling_Std'])

    # Scatter plot with regression line
    sns.regplot(x = company_data_cleaned['Volume'], y = company_data_cleaned['Rolling_Std'])
    plt.title(f'Relationship between Trading Volume and Volatility for {name}')
    plt.xlabel('Trading Volume')
    plt.ylabel('Volatility')

    # Calculate and print the correlation coefficient
    correlation_coefficient = np.corrcoef(company_data_cleaned['Volume'], company_data_cleaned['Rolling_Std'])[0, 1]
    print(f'Correlation Coefficient of {name}: {correlation_coefficient:.2f}')

    plt.show()

# Calculate the correlation matrix between the 'Open' & 'High', 'Low' &'Close' prices.

In [ ]:
# Iterate over each top company
for name in top_5_companies:
    # Filter data for the current company
    company_data = stock_data[stock_data['Name'] == name]

    # Calculate correlation matrix
    correlation_matrix = company_data[['Open', 'High', 'Low', 'Close']].corr()

    print(f'Correlation Matrix of {name}:\n{correlation_matrix}\n')

# Create a heatmap to visualize the correlations using theseabornpackage.

In [ ]:
# Iterate over each top company
for name in top_5_companies:
    # Filter data for the current company
    company_data = stock_data[stock_data['Name'] == name]

    # Calculate correlation matrix
    correlation_matrix = company_data[['Open', 'High', 'Low', 'Close']].corr()

    # Create heatmap
    plt.figure(figsize=(6, 4))
    sns.heatmap(correlation_matrix, annot=True, cmap = 'coolwarm', fmt='.3f', linewidths = .5)
    plt.title(f'Correlation Matrix Heatmap for {name}')
    plt.show()